section#examples.examples
	.examples__container.container
		.examples__title.general-title Примеры реализованных объектов
		.examples__swiper.swiper
			.swiper-wrapper
				.examples__slide.swiper-slide
					a(data-fancybox-trigger="project-example-1" href="javascript:;").examples__img
						img(src="img/examples/1/1.jpg", alt="alt")
					.examples__body
						.examples__body-title.general-title Кинотеатр «София»
							br
							| Москва, Сиреневый б-р, 31, центр «Место встречи София»
						.examples__body-text
							p Эстетическое удовольствие от картины и максимальный физический комфорт во время всего сеанса — основополагающие факторы, которые дают возможность зрителю в полной мере оценить творение искусства.
							p Необходимость особых архитектурных решений во внешнем и внутреннем оформлении здания кинотеатра, оснащение его современным оборудованием для привлечения зрителя, делает такой проект уникальным. Определяющую роль, несомненно, играет проектная документация, учитывающая каждую мелочь.
							p На основании разработанной и согласованной концепции кинотеатра “и планировочного решения нашей компанией было разработано проектирование кинотеатра «СОФИЯ» с учетом действующих ГОСТ, СНиП, международных стандартов и рекомендаций. Рабочее проектирование кинотеатра включает в себя:
							ul
								li Разработку геометрии кинозалов, фойе, технических, технологических и вспомогательных помещений кинотеатра;
								li Разработку технологических решений;
								li Технологические и конструктивные решения по размещению кинотехнологического и вспомогательного оборудования;
								li Разработку решений звукоусиления в кинозалах;
								li Разработку и согласование чертежей для кинозала с системой Dolby Atmos;
								li Акустические расчеты кинозалов, в том числе выбор материалов звукопоглотителей;
								li Разработку требований по звукоизоляции;
								li Разработку строительных заданий на состав стен, перегородок, перекрытий, «гребенок», рам, «закладных» для крепления оборудования;
								li Разработку электрических схем соединений оборудования;
								li Согласование с другими субподрядчиками по проектированию и разработке дизайна, вентиляции, отопления, электрики;
								li Уточнение и утверждение Заказчиком типов основного кинотехнологического оборудования, кресел и т.п.;
								li Подготовку рабочей документации для выполнения строительно-монтажных работ.
								br
								a(href="img/examples/1/data.dwg") Общие данные.dwg
								br
								a(href="img/examples/1/roofs_plan.dwg") План кровли.dwg
							p Осенью в 2021 году здание кинотеатра «София» ввели в эксплуатацию, открылись десять современных залов. Общая вместимость кинотеатра – 1 320 мест, при этом 20 из них оборудованы для маломобильных граждан. В теплое время года один кинозал будет функционировать на крыше ТЦ "Софии".
						a(data-fancybox-trigger="project-example-1" href="javascript:;").examples__btn
							span Посмотреть проект
							img(src="img/svg/arrow-circle.svg", alt="alt")

					.hidden-project-gallery(style="display:none")
						a(data-fancybox="project-example-1" href="img/examples/1/план 2.jpg")
						a(data-fancybox="project-example-1" href="img/examples/1/план 3.jpg")
						a(data-fancybox="project-example-1" href="img/examples/1/план.jpg")
						a(data-fancybox="project-example-1" href="img/examples/1/AnyConv.com__Sofiya_1et-f OV2.jpg")
						a(data-fancybox="project-example-1" href="img/examples/1/AnyConv.com__Sofiya_2et OV2.jpg")
						a(data-fancybox="project-example-1" href="img/examples/1/AnyConv.com__Sofiya_3et-f OV2.jpg")
						a(data-fancybox="project-example-1" href="img/examples/1/AnyConv.com__Sofiya_4et-f OV2.jpg")
						a(data-fancybox="project-example-1" href="img/examples/1/AnyConv.com__Sofiya_5et-f OV2.jpg")




		.examples__footer
			.examples__pagination
			.examples__arrow.arrow-swiper
				.examples__arrow-prev.arrow-swiper__prev
					img(src="img/svg/arrow-swiper-prev.svg", alt="alt")
				.examples__arrow-next.arrow-swiper__next
					img(src="img/svg/arrow-swiper-next.svg", alt="alt")